<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Os Segredos da Chef | Home</title>
</head>
<body>
    <header>
        <a class="logo" href="index.html">
            <div class="logo-texto">Segredos da <span>Chef</span></div>
        </a>

        <nav class="menu-principal" aria-label="Menu-principal">
            <a href= "index.html">Home</a>
            <!-- <a href="receita.html">Receitas</a>
            <a href="login.html">Login</a>
            <a href="contato.html">Contato</a> -->

        </nav>
    </header>

</body>
</html>