{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Os Segredos da Chef | Home</title>
</head>
<body>
    <header>
        <a class="logo" href="index.html">
            <div class="logo-texto">Segredos da <span>Chef</span></div>
        </a>

        <nav class="menu-principal" aria-label="Menu-principal">
            <a href= "index.html">Home</a>
             <a href="receita.html">Receitas</a>
            <a href="login.html">Login</a>
            <a href="contato.html">Contato</a>

        </nav>
    </header>
<main>
        <section class="banner">
            <div class="banner-texto"> <h1>Receitas feitas com amor</h1> <p>O prazer de cozinhar e os segredos
                da culinária caseira revelados para você.</p>
            <form class="busca" action="#" method="get">
                <input type="search" name="s" placeholder="Procurar receita">
            </form>
            </div>
        </section>
</main>


    <!-- Rodape: area final com nome do site e links importantes. -->
    <footer>
        <!-- Nome do site no rodape. -->
        <div class="footer-logo">
            <div class="logo-texto">
                Segredos da <span>Chef</span>
            </div>
        </div>


        <!-- Links de categorias de receitas. -->
        <div class="footer-coluna">
            <h3>Categorias de receitas</h3>
            <a href="receita.html">Cozinha afetiva</a>
            <a href="receita.html">Doces prazeres</a>
            <a href="receita.html">Lanches nutritivos</a>
        </div>


        <!-- Links de ocasioes de consumo. -->
        <div class="footer-coluna">
            <h3>Ocasiões de consumo</h3>
            <a href="receita.html">Café da manhã</a>
            <a href="receita.html">Almoço ou jantar</a>
            <a href="receita.html">Sobremesa</a>
        </div>


        <!-- Links institucionais do site. -->
        <div class="footer-coluna">
            <h3>Institucional</h3>
            <a href="login.html">Login</a>
            <a href="contato.html">Contato</a>
            <a href="receita.html">Todas as receitas</a>
        </div>
    </footer>
</body>
</html>

